/*
   Babys Style Sheet
   Author:Daniel Rhoades
   Date:9/7/2016

   Filename:         babystyles.css
   Supporting Files: none

*/

/* Section Styles */



header {
width: 100%;
text-align: left;
}

nav {
display: block;
width: 100%;
}

section nav {
font-size: 0.9em;
text-align: center;
padding-bottom: 20px;
}


nav ul {
list-style-type: none;
margin: 0px;
padding: 0px;
font-size: 0.8em;
}

nav ul li {
display: block;
float: left;
width: 17.7%;
height: 20px;
text-align: center;
border: 1px solid #2d04ff;
background-color: #afd3f3;
line-height: 1.5em;
margin: 0px 4px 5px 0px;
}

section {
width: 64%;
float: left;
}

section.full {
width: 100%;
}

section p {
font-size: 1.1em;
margin: 0px 20px 10px 0px;
}

section.full h1 {
text-align: center;
color: #2d04ff;
font-size: 2em;
letter-spacing: 0.1em;
}

section.full p {
font-size: 0.9em;
margin: 0px 0px 30px 0px;
}

section.full article h1 {
font-size: 1.1em;
text-align: left;
letter-spacing: 0.5em;
font-weight: normal;
margin: 0px 0px 5px 0px;
color: #2d04ff;
}

section.full article figure {
display: block;
width: 100%;
margin-bottom: 10px;
}

section.full article figure img {
display: block;
margin: 0px auto;
}


aside {
float: left;
width: 35%;
border-left: 3px solid #2d04ff;
border-bottom: 3px solid #2d04ff;
border-radius: 0px 0px 0px 45px;
-moz-border-radius: 0px 0px 0px 45px;
-webkit-border-bottom-left-radius: 45px;
}

aside h1 {
font-size: 1.1em;
font-weight: normal;
text-align: center;
margin: 5px 0px;
line-height: 1.1em;
}

aside figure {
display: block;
width: 90%;
margin: 0px auto;
}

aside figure img {
display: block;
margin: 0px auto;
box-shadow:10px 10px 20px #000000;
-webkit-box-shadow:10px 10px 20px #000000;
-moz-box-shadow: 10px 10px 20px #000000;
}

aside figure figcaption {
display: block;
width: 100%;
margin: 10px auto 0px;
line-height: 1em;
text-align: center;
font-style: italic;
font-size: 0.7em;
}

aside li {
font-size: 0.8em;
line-height: 1.1em;
}

/* form */
form {
   width: 441px;
   float: left;
}

fieldset.text, fieldset.checks {
   position: relative;
   padding: 5px 30px 5px 0;
   margin-right: 15px;
}

legend {
   font-weight: bold;
   font-size: 18px;
   text-align: left;
   padding-left: 1.4em;
   margin-bottom: 0.5em;
}

legend span {
   text-align: right;
}

input, label {
   position: relative;
   line-height: 1.2em;
   display: block;
}

fieldset.checks input {
   float: left;
   clear: left;
   margin-right: 5px;
   margin-left: 5em;
   font-size: 18px;
}

fieldset.checks label {
   line-height: 1.2em;
   margin-bottom: 4px;
}

fieldset.text label {
   width: 10em;
   text-align: right;
   float: left;
   clear: left;
   margin: 5px 10px 0 0;
   font-weight: bold;
   font-size: 18px;
}

fieldset.text input {
   margin: 7px 5px 0 0;
}

input[type=button] {
   margin: 15px auto 0;
   font-size: 16px;
   background: rgb(202,230,233);
   width: 9em;
}

p.errorMsg {
   display: none;
   color: red;
   text-align: center;
}

footer {
display: block;
width: 100%;
clear: left;
text-align: center;
margin-top: 5px;
}

footer address {
display: block;
width: 100%;
clear: left;
font-size: 0.8em;
font-style: normal;
font-variant: small-caps;
margin-top: 20px;
border-top: 3px solid #2d04ff;
}


/* Block Styles */
h1, h2, h3, h4, h5, h6 {
font-family: Arial, Helvetica, sans-serif;
}

header h1 {
margin: 1em 0em;
font-size: 2em;
}

h2 {
margin: 1em 0em;
font-size: 1.5em;
}

header h1 {
margin: 0px;
}

header h2 {
font-size: 1.2em;
font-style: italic;
margin: 0em;
padding-bottom: 0.5em;
border-bottom:1px black solid;
}

article p {
margin: 0.2em 0.9em 0.7em 0em;
}

article ul {
margin: 0.1em 0.8em 0.5em;
}

article ul li {
margin-right: 0.5em;
}

aside h2 {
text-align: center;
}

aside p {
font-size: 0.8em;
margin: 0px 0.7em;
}

section.full h2 {
width: 100%;
font-size: 1.5em;
margin:50px 0px 0px 0px;
border-top: 2px solid rgb(172, 172, 172);
clear: left;
float: left;
}


dl {
font-size: 0.9em;
margin: 0px;
margin-left: 60px;
clear: left;
float: left;
}

dt b {
font-size: 1.1em;
}

section.full div {
clear: left;
padding-top: 30px;
padding-bottom: 30px;
}

img {
border-width: 0px;
}

table.calendar                         {
	border-collapse: separate;
	border-spacing: 5px;
	font-size: 8px;
}

table.calendar caption                          {
	caption-side: top;
	text-align: left;
	font-size: 16px;
	letter-spacing: 3px;
}

table.calendar col                      {
	width: 250px;
}

table.calendar col.weekends             {
	background-color: rgb(255, 232, 232);
}

table.calendar thead th                 {
	background-color: #2d04ff;
	color: white;
	letter-spacing: 5px;
}

table.calendar thead tr                 {
	height: 100px;
}

table.calendar tbody td                 {
height: 100px;
}

table.calendar td                       {
	border: 1px solid;
	border-color: gray;
	vertical-align: top;
}

table.calendar td h3                    {
	font-size: 8px;
	margin: 0px;
	padding: 0px;
}

table.calendar td dl                    {
	margin: 0px;
	padding: 0px;
}

table.calendar td dt                    {
	margin: 0px;
	padding: 0px;
}

table.calendar td dd                    {
	margin: 0px;
	padding: 0px;
}m

/* form */
form {
   float: left;
}

input {
   float: left;
   clear: left;
   margin: 10px;
}

label {
   float: left;
   font-size: 1.4em;
}

/* total div */
article div {
   width: 50%;
   float: right;
   font-size: 18px;
   font-weight: bold;
}



